body{
  background-image: url(https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

 .caixaTexto input:focus{
outline:none;
}
.caixaTexto input{
 background: #f1f1f0;
 height: 50px;
 width: 250px;
 border:ridge;
 margin-bottom: 3px;
 border-radius: 15px;
}

button  {
  background: none;
  border: none;
  margin-left: 10px;
}
button:hover{
  transform: scale(1.6);
}
.coffe{
  color:#5c1e14;
  margin-left: 10px;

}


.adicionar{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.caixaTexto h1{
  font-size: small;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.tarefaas{
  height: fit-content;
  width:fit-content ;
  margin-bottom: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}
.lista{
  height: 100px;
  width: 260px;
  margin-bottom: 10px;
  background-color: #341100;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

}

.icon{
 color: #ffd9ab;
align-self: center;

}
.dataa{
  align-self: center;
}
.caixaTexto{
  margin-bottom: 10px;
}
